.detailsStyle {
    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: center;
    align-items: center;
}

.orderDetails {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neonText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: black;
    border-radius: 0 0 10px 10px;
}

.para {
    font-size: 2rem;
}

input {
    width: 232px;
    height: 24px;
    margin-bottom: 10px;
}
