@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');

.customContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: none;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    height: 500px;
    width: 450px;
    border-radius: 10px;
    color: white;
    font-size: 50px;
    background-image: url('../../images/black-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.styling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.fontStyles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fonts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 35svw;
    gap: 10px;
}

.chooseFont {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 150px;
    border: solid 1px black;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;
}

.color {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.colorCode {
    border: solid 1px black;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;    
}

button {
    margin-top: 50px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1B1A55;
    color: white;
}